html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus {
    outline: none;
}

/* -------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
    font-weight: normal; color: #111;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
    margin: 0;
}

p {
    margin: 0 0 1.5em;
}

a:focus, a:hover {
    color: #000;
}
a {
    color: #06c;
    text-decoration: underline;
}

blockquote  {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}
strong      {
    font-weight: bold;
}
em,dfn      {
    font-style: italic;
}
dfn         {
    font-weight: bold;
}
sup, sub    {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
}
address {
    margin: 0 0 1.5em;
    font-style: italic;
}
del {
    color:#666;
}

pre {
    margin: 1.5em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre, code, tt, samp, kbd {
    font: 0.9em 'monaco', 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}

li ul,
li ol {
    margin:0 1.5em;
}
ul, ol {
    margin: 0 1.5em 1.5em 2.5em;
}

ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}
dl dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}

table {
    font-size:inherit;
    font-size:100%;
    margin-bottom: 1.5em;
}
th {
    font-weight: bold;
}
caption {
    text-align: center;
    font-weight: bold;
}
td, th {
    padding: 2px 5px;
}

table {
    width: 100%;
}
table th,
table td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #eee;
}
table th {
    text-align: left;
}

table caption {
    padding: 4px 0;
}

table thead tr {
    background: #dedede;
}


/* Style
-------------------------------------------------------- */
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Aller_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Aller_Bd.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Aller_It.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Aller_BdIt.ttf') format('truetype');
}

body {
    font: normal 14px/1.5 Aller,sans-serif;
    background: #f4f3f1;
    color: #222;
}

h1,h2,h3 {
    font-family: Aller,sans-serif;
}

#header, #main, #footer {
    max-width: 720px;
    margin: 0 auto;
}
#main {
    position: relative;
}

#header-wrap {
    background: #254356;
    color: #fff;
    min-height: 100px;
}
#header-wrap h1 {
    padding-top: 20px;
    color: inherit;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
#header-wrap span {
    display: block;
    font-size: 1.2em;
}

#header-wrap span.version {
    display: inline;
    font-size: 0.8em;
}

#main {
    padding-top: 40px;
}

#footer {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    text-align: center;
}

#logos {
    margin: 0 0 1em 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

}
#logos li {
    display: block;
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#pref_saved {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background: #ffcc66;
    color: #000;
    padding: 0.5em;
    border-radius: 0 0 6px 6px;
}

table tbody tr>td:nth-child(2) {
    white-space: nowrap;
}

ul.prefs {
    margin: 1em 0;
    padding: 0 0 1em 1em;
    list-style: none;
}
ul.prefs li {
    display: block;
    margin: 0.5em 0;
    padding: 0;
}
ul.prefs input {
    vertical-align: top;
}
