[submodule "packages/jetpack-net-log"]
	path = packages/jetpack-net-log
	url = git@github.com:Opquast/jetpack-net-log.git
[submodule "packages/opquast-test-runner"]
	path = packages/opquast-test-runner
	url = git@github.com:Opquast/opquast-test-runner.git
#	url = git@git.temesis.com:mozilla/opquast-test-runner.git
