html {
    background-color: #fff;
}

body {
    margin: 10px;
    overflow: auto;
    font-family: Lucida Grande, sans-serif;
    font-size: 12px;
}

#loader {
    font-size: 2em;
    background: transparent url(../img/loader.gif) no-repeat 50% 100%;
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}

#test_result, #test_result table {
    border-collapse: collapse;
    width: 100%;
}

#test_result th, .dataTables_info {
    background-color: #eee;
    color: #000;
    border: 1px solid #333;
}

.dataTables_info {
    width: 100%;
    text-align: center;
    font-weight: bold;
    float: none;
}

#test_result td {
    border: 1px solid #ccc;
}
